# --- Frontend (assessly-frontend) ---
assessly-frontend/node_modules/
assessly-frontend/dist/
assessly-frontend/*.local

# --- Backend (assessly-backend) ---
assessly-backend/target/
assessly-backend/.mvn/wrapper/maven-wrapper.jar
assessly-backend/build/
assessly-backend/.classpath
assessly-backend/.project
assessly-backend/.settings

# --- IDEs and OS Files ---
.idea/
.vscode/
!.vscode/extensions.json
.DS_Store
*.log
